.timer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    color: white;
}

.timer {
    font-size: 20vw;
}

.timer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-buttons button {
    border: none;
    color: white;
    background-color: rgb(35, 100, 143);
    font-size: 70px;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 20px;
    outline: 2px solid white;
    margin: 10px;
    cursor: pointer;
}

.line-wrapper {
    width: 100%;
    background-color: rgba(255, 255, 255, .1);
    height: 35px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
    outline: 3px solid white;
    border-radius: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.line {
    height: 100%;
    width: 100%;
    transition: all ease-out 1s;
    transition-delay: 0;
    background-color: #20417e;
    border-radius: 35px;
}